yahttp/libyahttp.a
*.o
tests/test
*.in
Makefile
tests/Makefile
yahttp/Makefile
autom4te.cache/
.deps
test-driver
missing
compile
depcomp
config.*
configure
install-sh
stamp-h1
tests/*.log
tests/*.trs
