language: cpp
dist: trusty
sudo: yes
compiler:
  - gcc
before_script:
 - sudo apt-get update
 - sudo apt-get install -y libboost-test-dev libboost-program-options-dev libeigen3-dev
script:
 - ./bootstrap
 - ./configure
 - make dist
 - tar xf metronome-*.tar.bz2 -C /tmp
 - cd /tmp/metronome-*
 - ./configure
 - make -j 4
 - make -j 4 check
notifications:
  email:
    - bert.hubert@netherlabs.nl

